<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	    <add key="bot_key1" value="5800422091:AAFZiNs_71HMT2plQGMfYjmAQfkGNoeoHvA"/>
	    <add key="bot_key" value="5168670876:AAGp9WQY4jDrk2j_ZU57Cy3-0g6av0TE-ZA"/>
	    <add key="bot_key2" value="t.me/ExtremeWaterBot"/>
	    <add key ="db_connection_2" value="Port=5454;Host=127.0.0.1;Username=postgres;Password=BeK_159753;Database=alldb"/>
	    <add key ="db_connection" value="Port=5454;Host=62.209.128.51;Username=postgres;Password=wRMlQlzLmuTO1K0qLOzP;Database=alldb"/>
	</appSettings>
</configuration>